<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623671613233-h3j5esiq70cd203hvauorg6ro4lkoopq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623671613233-h3j5esiq70cd203hvauorg6ro4lkoopq</string>
	<key>API_KEY</key>
	<string>AIzaSyD0qKUP7CMGQGYSD636d1ytKauPgHdyBGI</string>
	<key>GCM_SENDER_ID</key>
	<string>623671613233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kellytester.Full-Stacked</string>
	<key>PROJECT_ID</key>
	<string>full-stacked-3</string>
	<key>STORAGE_BUCKET</key>
	<string>full-stacked-3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623671613233:ios:292f758ed9726fd9f34210</string>
</dict>
</plist>